{{ form(searchForm) }}
<br>
<br>

<a href="addStudent">Add Student</a>
<table border="1">
    <tr>
        <td>Id</td>
        <td>FN</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>classroom</td>
        <td>Actions</td>

    </tr>
    {% for student in tabStudents %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.description }}</td>
            <td>{{ student.enbaled }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.classroom.name }}</td>
            <td><a href="{{ path('showStudent',{'id':student.id}) }}">Sohw</a>
                <a href="{{ path('deleteStudent',{'id':student.id}) }}">Remove</a>
                <a href="{{ path('updateSudent',{'id':student.id}) }}">update</a></td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<table border="1">
    <tr>
        <td>Id</td>
        <td>FN</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>classroom</td>
        <td>Actions</td>

    </tr>
    {% for student in tabStudentOrderByFirstName %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.description }}</td>
            <td>{{ student.enbaled }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.classroom.name }}</td>
            <td><a href="{{ path('showStudent',{'id':student.id}) }}">Sohw</a>
                <a href="{{ path('deleteStudent',{'id':student.id}) }}">Remove</a>
                <a href="{{ path('updateSudent',{'id':student.id}) }}">update</a></td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<table border="1">
    <tr>
        <td>Id</td>
        <td>FN</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>classroom</td>
        <td>Actions</td>

    </tr>
    {% for student in tabStudentfindEnabledStudent %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.description }}</td>
            <td>{{ student.enbaled }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.classroom.name }}</td>
            <td><a href="{{ path('showStudent',{'id':student.id}) }}">Sohw</a>
                <a href="{{ path('deleteStudent',{'id':student.id}) }}">Remove</a>
                <a href="{{ path('updateSudent',{'id':student.id}) }}">update</a></td>
        </tr>
    {% endfor %}
</table>


