<a href="#">Add Student</a>
<table border="1">
    <tr>
        <td>Id</td>
        <td>FN</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>Actions</td>
    </tr>
    {% for student in tabStudents %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.description }}</td>
            <td>{{ student.enbaled }}</td>
            <td>{{ student.level }}</td>
            <td><a href="{{ path('showStudent',{'id':student.id}) }}">Sohw</a>
                <a href="{{ path('deleteStudent',{'id':student.id}) }}">Remove</a>
                <a href="#">update</a></td>
        </tr>
    {% endfor %}
</table>