
<a href="{{ path('addClub')}}"> addClub</a>
<br>
{% for club in tabClub %}
    Id:{{ club.id }}
Name:{{ club.name }}
    Description:{{ club.description }}

<a href="{{ path('showClub',{'id':club.id}) }}">show more</a>
    <a href="{{ path('deleteClub',{'id':club.id}) }}"> Delete</a>
    <a href="{{ path('updateClub',{'id':club.id}) }}"> Update</a>
    <br>
{% endfor %}