<a href="{{ path('addClassroom' )}}">Add Classroom</a>
<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>Description</td>

    </tr>
    {% for classroom in tabClassroom %}
        <tr>
            <td>{{ classroom.id }}</td>
            <td>{{ classroom.name }}</td>
            <td>{{ classroom.description }}</td>
            <td><a href="{{ path('showClassroom',{'id':classroom.id}) }}">Sohw</a>
                <a href="{{ path('deleteClassroom',{'id':classroom.id}) }}">Remove</a>
                <a href="{{ path('updateClassroom',{'id':classroom.id}) }}">update</a></td>
        </tr>
    {% endfor %}
</table>